<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lincbio.lincxmap"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".android.app.TemplateActivity"
            android:icon="@android:drawable/ic_menu_slideshow"
            android:label="@string/label_toolbar_template" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="lincxmap.intent.category.toolbar" />
            </intent-filter>
        </activity>
        <activity
            android:name=".android.app.ProductActivity"
            android:icon="@android:drawable/ic_menu_agenda"
            android:label="@string/label_toolbar_product" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="lincxmap.intent.category.toolbar" />
            </intent-filter>
        </activity>
        <activity
            android:name=".android.app.ProfileActivity"
            android:icon="@android:drawable/ic_menu_save"
            android:label="@string/label_toolbar_profile" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="lincxmap.intent.category.toolbar" />
            </intent-filter>
        </activity>
        <activity
            android:name=".android.app.HistoryActivity"
            android:icon="@android:drawable/ic_menu_recent_history"
            android:label="@string/label_toolbar_history" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="lincxmap.intent.category.toolbar" />
            </intent-filter>
        </activity>
        <activity android:name=".android.app.AboutActivity" />
        <activity
            android:name=".android.app.TemplateSpecActivity"
            android:noHistory="true" />
        <activity android:name=".android.app.DetectionActivity" />
        <activity android:name=".android.app.DetectionResultActivity" />
        <activity
            android:name=".android.app.LauncherActivity"
            android:label="@string/title_launcher" >
        </activity>
        <activity
            android:name=".android.app.ProfileChooser"
            android:label="@string/title_choose_profile"
            android:noHistory="true"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".android.app.ResultDetailActivity"
            android:label="@string/title_result_detail" />
        <activity android:name=".android.app.SampleLayoutActivity" />
        <activity android:name=".android.app.SettingsActivity" />
        <activity
            android:name=".android.app.SplashActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>