<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lincbio.lincxmap"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".android.app.ApplicationImpl"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".android.app.TemplateListActivity"
            android:icon="@android:drawable/ic_menu_slideshow"
            android:label="@string/title_template_list" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="lincxmap.intent.category.toolbar" />
            </intent-filter>
        </activity>
        <activity
            android:name=".android.app.ProductListActivity"
            android:icon="@android:drawable/ic_menu_agenda"
            android:label="@string/title_product_list" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="lincxmap.intent.category.toolbar" />
            </intent-filter>
        </activity>
        <activity
            android:name=".android.app.ProfileListActivity"
            android:icon="@android:drawable/ic_menu_save"
            android:label="@string/title_profile_list" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="lincxmap.intent.category.toolbar" />
            </intent-filter>
        </activity>
        <activity
            android:name=".android.app.HistoryListActivity"
            android:icon="@android:drawable/ic_menu_recent_history"
            android:label="@string/title_history_list" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="lincxmap.intent.category.toolbar" />
            </intent-filter>
        </activity>
        <activity
            android:name=".android.app.AboutActivity"
            android:label="@string/title_about" />
        <activity
            android:name=".android.app.TemplateSpecActivity"
            android:label="@string/title_template_new"
            android:noHistory="true" />
        <activity
            android:name=".android.app.DetectionActivity"
            android:label="@string/title_detection" />
        <activity
            android:name=".android.app.DetectionResultActivity"
            android:label="@string/title_detection_result" />
        <activity
            android:name=".android.app.MainActivity"
            android:label="@string/title_launcher"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".android.app.ProductActivity"
            android:label="@string/title_product" />
        <activity
            android:name=".android.app.ProfileChooser"
            android:label="@string/title_choose_profile"
            android:noHistory="true"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".android.app.ResultDetailActivity"
            android:label="@string/title_result_detail" />
        <activity
            android:name=".android.app.SampleLayoutActivity"
            android:label="@string/title_sample_layout" />
        <activity
            android:name=".android.app.SettingsActivity"
            android:label="@string/title_settings" />
    </application>

</manifest>