<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lincbio.lincxmap"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".android.app.ProductsActivity"
            android:label="@string/label_toolbar_catalog" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="lincxmap.intent.category.toolbar" />
            </intent-filter>
        </activity>
        <activity
            android:name=".android.app.HistoryActivity"
            android:label="@string/label_toolbar_query" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="lincxmap.intent.category.toolbar" />
            </intent-filter>
        </activity>
        <activity
            android:name=".android.app.SettingsActivity"
            android:label="@string/label_toolbar_settings" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="lincxmap.intent.category.toolbar" />
            </intent-filter>
        </activity>
        <activity
            android:name=".android.app.AboutActivity"
            android:label="@string/label_toolbar_help" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="lincxmap.intent.category.toolbar" />
            </intent-filter>
        </activity>
        <activity android:name=".android.app.TemplateSpecActivity" />
        <activity android:name=".android.app.DetectionActivity" />
        <activity android:name=".android.app.DetectionResultActivity" />
        <activity android:name=".android.app.TemplateEditorActivity" />
        <activity
            android:name=".android.app.LauncherActivity"
            android:label="@string/title_launcher" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>
    </application>

</manifest>